<h3>Please select rock paper or scissors</h3>

<form action='/results' method='get'>
  <div class="form-group>
    <label for="scissors">Scissors</label>
    <input id="scissors" name="scissors" class="form-control" type="button">
  </div>
  <button type="submit" class="btn">scissors</button>
</form>
